body{
    background-image: url("PopcornBucket Images/Popcorn.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

h1 {
    background-color: white;
}


