body {
    font-family: sans-serif, Helvetica, arial;
    margin: 0;

}
.startup{
    background-color: crimson;
    color:white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 10%;
    border-radius: 15px; 
}
.centerText {
  text-align: center;
}
button{
    background-color: crimson;
    color:white;
    padding: 14px 20px;
    margin: 32px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 15px;
}
.close {
  position: absolute;
  right: 25px;
  top: 10px;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: crimson;
  cursor: pointer;
}
button:hover{
    opacity: 0.5;
}
.center{
    display: flex;
    justify-content: center;

}

.info{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    width: 80%;
    margin: 0 auto;
}
.model{
    display: none;
    background-color: rgba(0,0,0,0.1);
    width: 30%;
    padding: 50px;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    margin: 5% 30% 15% 30%;
    border-radius: 15px;

    /*Trigger animation*/
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
    
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

input{
    border-radius: 15px;
    padding: 5px;
    background-color: rgb(203, 204, 206);
}
label{
    padding: 10px;
}



